body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ff758c,#ff7eb3);
    color:white;
    text-align:center;
    overflow-x:hidden;
}

.container{
    padding:20px;
}

.title{
    font-size:45px;
    margin-top:30px;
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px white;
    }
    to{
        text-shadow:0 0 25px red;
    }
}
#fireworks{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
display:none;
z-index:999;
}

#finalMessage{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
display:none;
z-index:1000;
color:white;
text-shadow:0 0 20px #ff4d6d;
animation:zoom 2s infinite;
}

@keyframes zoom{
0%{transform:translate(-50%,-50%) scale(1);}
50%{transform:translate(-50%,-50%) scale(1.08);}
100%{transform:translate(-50%,-50%) scale(1);}
}
.message{
    font-size:22px;
    margin:30px;
    line-height:1.8;
}

.btn{
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ff4b7d;
    font-size:18px;
    cursor:pointer;
    margin-bottom:30px;
}

.gallery{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.gallery img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.05);
}

.counter{
    margin-top:50px;
    font-size:28px;
}

.final-message{
    margin-top:70px;
    font-size:30px;
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.05);
    }
    100%{
        transform:scale(1);
    }
}
.hearts{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
z-index:999;
}

.heart{
position:absolute;
animation:floatUp linear forwards;
}

@keyframes floatUp{

0%{
transform:translateY(100vh);
opacity:0;
}

20%{
opacity:1;
}

100%{
transform:translateY(-120vh);
opacity:0;
}

}
 
